// Body

// Typography
$font-family-sans-serif: "Open sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius:  1rem;

// Colors
$grey: #2f2f2d;
$body-bg: #2f2f2d;
$gold: #a78f53;
$yellow: #a78f53;
$red: #d5302e;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
