footer {
    color: white;
    a {
        color: white;
        margin: 0 0 15px;
        display: block;
    }

    h2 {
        margin: 25px 0 15px;
    }

    .logo-eudora {
        margin-top: 160px;
    }

    .logo-eudora-mobile {
        max-height:17px;
        max-width:17px;
    }

    .copyright {
        font-size: 10px;
    }
}

.social-networks {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    a {
        display: inline-block;
        padding: 0 30px;
    }
}

.txt-mobile-footer-small {
    text-align: center;
    font-size: 12px;
}

.txt-mobile-footer-smallest {
    text-align: center;
    font-size: 10px;
}

.social-networks-mobile {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
    a {
        display: inline-block;
        padding: 0 5px;
        justify-content: center;
    }
}


.mobile-end-logos {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
}


.end-footer-txt-mobile {
    font-size:7px;
}
