.c-menu-mobile {
  background-color: #623173;
  max-height: 130px;
  width: 100%;
  display: block;

  @media screen and (min-width: 481px) {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-around;

    &--buttons {
      padding: 30px 0;
    }
  }

  &__menu {
    background-position: center;
    background-image: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png);
    background-size: 100%;
  }

  &__items {
    display: block;

    &--home {
      width: 25px;
      height: 25px;
    }
  }

  &__search {
    width: 100%;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    outline: none;

    &::after {
      display: block;
      content: '';
      background-color: red;
      width: 10px;
    }
  }
}

.banner__mobile {
  padding: 0 20px;

  @media screen and (min-width: 481px) {
    display: none;
  }

  @media screen and (max-width: 441px) {
    padding: 0
  }

  img {
    margin: 0 auto;
  }
}

.banner__desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.c-menu-mobile--items--home-logo {
      width: 50px;
      height: 25px;
}

.title__mobile {
  @media screen and (min-width: 481px) {
    display: none;
  }

  strong {
    font-size: 20px;
    position: absolute;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 1px #000000, 0px 0px 0.4px #0d0d0d;
  background: rgba(168, 143, 83, 0.83);
  border-radius: 3.9px;
  border: 0.2px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2.3px #000000, 0px 0px 0px #0d0d0d;
  border: 1.9px solid rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  border-radius: 19px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(178, 155, 99, 0.83);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 1px #000000, 0px 0px 0.4px #0d0d0d;
  background: rgba(168, 143, 83, 0.83);
  border-radius: 3.9px;
  border: 0.2px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2.3px #000000, 0px 0px 0px #0d0d0d;
  border: 1.9px solid rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  border-radius: 19px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(151, 128, 75, 0.83);
  border: 0.2px solid #000101;
  border-radius: 7.8px;
  box-shadow: 0.4px 0.4px 1px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(168, 143, 83, 0.83);
  border: 0.2px solid #000101;
  border-radius: 7.8px;
  box-shadow: 0.4px 0.4px 1px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 2.3px #000000, 0px 0px 0px #0d0d0d;
  border: 1.9px solid rgba(0, 0, 0, 0);
  height: 19px;
  width: 19px;
  border-radius: 19px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(168, 143, 83, 0.83);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(178, 155, 99, 0.83);
}