.c-menu-options {
  background-color: white;
  width: 90%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px;
  position: absolute;
  z-index: 2;

  &__container {
    margin-bottom: 50px;
  }

  &__hidden {
    display: none;
  }
}
